<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header  nzJustify="end">
      <div nz-row class="app-header">
        <div nz-col [nzXs]="{ span: 6 }" [nzSm]="{ span: 3}" [nzMd]="{ span: 2 }" [nzLg]="{ span: 2 }" [nzXl]="{ span: 2 }" [nzXXl]="{ span: 2 }"> 
          <span class="header-trigger with-content" (click)="isCollapsed = !isCollapsed">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </span> 
        </div>
        <div nz-col [nzXs]="{ span: 3, offset: 14 }" [nzSm]="{ span: 4, offset: 17 }" [nzMd]="{ span: 3, offset: 18}" [nzLg]="{ span: 3, offset: 17 }" [nzXl]="{ span: 3, offset: 18 }" [nzXXl]="{ span: 3, offset: 19 }"> 
          <button nz-button nzType="link" nzSize="large" (click)="signOff()"><i nz-icon nzType="poweroff"></i> Cerrar sesión</button>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <!-- <div nz-row>
          <div nz-col [nzXs]="{ span: 6 }" [nzSm]="{ span: 3}" [nzMd]="{ span: 2 }" [nzLg]="{ span: 24 }" [nzXl]="{ span: 24 }" [nzXXl]="{ span: 24 }"> -->
            <router-outlet></router-outlet>
          <!-- </div>
        </div>         -->
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
